<form class="create-form" role="form" ng-submit="createBookmarkCtrl.createBookmark(newBookmark)">
        <div class="form-group">
            <label for="newBookmarkTitle">Bookmark title</label>
            <input type="text" class="form-control" name="title" value="" placeholder="Enter title of bookmark" ng-model="createBookmarkCtrl.newBookmark.title"
            />
        </div>
        <div class="form-group">
            <label for="newBookmarkURL">Bookmark URL</label>
            <input type="text" class="form-control" name="url" value="" placeholder="Enter url" ng-model="createBookmarkCtrl.newBookmark.url" />
        </div>
        <button type="submit" name="button">Create</button>
        <button type="button" class="btn btn-default btn-lg pull-right" ui-sref="app.categories.bookmarks">Cancel</button>
    </form>